.sub-title-20 {
  font-size: 20px;
  line-height: 24px;
}

.sub-title-18 {
  font-size: 18px;
  line-height: 24px;
}

.body-16 {
  font-size: 16px;
  line-height: 24px;
}

.body-14 {
  font-size: 14px;
  line-height: 22px;
}

.caption-12 {
  font-size: 12px;
  line-height: 18px;
}

.button-16 {
  line-height: 24px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.button-14 {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.75px;
}

.color-primary-100 {
    color: var(--primary-100);
}

.color-primary-200 {
    color: var(--primary-200);
}

.color-primary-300 {
    color: var(--primary-300);
}

.color-primary-400 {
    color: var(--primary-400);
}

.color-primary-500 {
    color: var(--primary-500);
}

.color-primary-600 {
    color: var(--primary-600);
}

.color-primary-900 {
    color: var(--primary-900);
}

.color-neutral-50 {
  color: var(--neutral-50);
}

.color-neutral-100 {
  color: var(--neutral-100);
}

.color-neutral-200 {
  color: var(--neutral-200);
}

.color-neutral-300 {
  color: var(--neutral-300);
}

.color-neutral-400 {
  color: var(--neutral-400);
}

.color-neutral-500 {
  color: var(--neutral-500);
}

.color-neutral-600 {
  color: var(--neutral-600);
}

.color-neutral-700 {
  color: var(--neutral-700);
}

.color-neutral-800 {
  color: var(--neutral-800);
}

.color-neutral-900 {
  color: var(--neutral-900);
}

.color-secondary-50 {
  color: var(--secondary-50);
}

.color-secondary-200 {
  color: var(--secondary-200);
}

.color-secondary-300 {
  color: var(--secondary-300);
}

.color-secondary-400 {
  color: var(--secondary-400);
}

.color-secondary-500 {
  color: var(--secondary-500);
}

.color-red1 {
  color: var(--red1);
}

.color-orange1 {
  color: var(--orange1);
}

.color-orange2 {
  color: var(--orange2);
}

.color-violet1 {
  color: var(--violet1);
}

.color-violet2 {
  color: var(--violet2);
}

.color-green1 {
  color: var(--green1);
}

.color-green2 {
  color: var(--green2);
}

.color-green3 {
  color: var(--green3);
}

.color-blue1 {
  color: var(--blue1);
}

.color-blue2 {
  color: var(--blue2);
}

.fw-8 {
  font-weight: 800;
}

.fw-7 {
  font-weight: 700;
}

.fw-6 {
  font-weight: 600;
}

.fw-5 {
  font-weight: 500;
}

.fw-4 {
  font-weight: 400;
}
